/* layout */

ul {
  list-style: none;
}

.vm-wraaper {
  width: 360px;
}


/* style */

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #eae8fe;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.get-btn {
  background-color: rgba(99, 39, 254, 1);
  color: rgba(255, 255, 255, 1);
}

